@import "../../vars.scss";

$spacing: 20px;
$columns: 12;

// Row
.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 (-$spacing/2);

  &.reverse {
    flex-direction: row-reverse;
  }
}

// Col
.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;

  box-sizing: border-box;
  flex: 0 0 auto;
  padding-left: $spacing/2;
  padding-right: $spacing/2;

  &.reverse {
    flex-direction: column-reverse;
  }
}

// Size Mixin
@mixin size($size) {
  .col-#{$size} {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  @for $i from 1 through 12 {
    .col-#{$size}-#{$i} {
      flex-basis: percentage($i/12);
      max-width: percentage($i/12);
    }
    .col-#{$size}-offset-#{$i} {
      margin-left: percentage($i/12);
    }
  }

  .start-#{$size} {
    justify-content: flex-start;
    text-align: start;
  }

  .center-#{$size} {
    justify-content: center;
    text-align: center;
  }

  .end-#{$size} {
    justify-content: flex-end;
    text-align: end;
  }

  .top-#{$size} {
    align-items: flex-start;
  }

  .middle-#{$size} {
    align-items: center;
  }

  .bottom-#{$size} {
    align-items: flex-end;
  }

  .around-#{$size} {
    justify-content: space-around;
  }

  .between-#{$size} {
    justify-content: space-between;
  }

  .first-#{$size} {
    order: -1;
  }

  .last-#{$size} {
    order: 1;
  }
}

// Sizes
@include size(xs);

@media (min-width: $break-sm) {
  @include size(sm);
}

@media (min-width: $break-md) {
  @include size(md);
}

@media (min-width: $break-lg) {
  @include size(lg);
}
