@import "../styles.scss";

// Intro
.panel.panel-intro {
  padding: 120px 0 30px;

  h1 {
    font-size: 42px;
    line-height: 1.1;
    margin-bottom: 30px;
  }

  h2 {
    font-size: 24px;
    line-height: 1.4;

    &,
    a {
      font-weight: 700;
    }
  }

  @media #{$query-max-xl} {
    h1 {
      font-size: 38px;
    }

    h2 {
      font-size: 20px;
    }
  }
  @media #{$query-max-lg} {
    padding: 60px 0;
    text-align: center;
  }
  @media #{$query-max-md} {
    padding: 60px 0 20px;

    h1 {
      font-size: 28px;
    }

    h2 {
      font-size: 15px;
    }
  }

  .row {
    height: 100%;
    display: flex;
    align-content: center;
  }

  img {
    @media #{$query-min-lg} {
      margin-left: auto;
    }
    @media #{$query-max-lg} {
      margin: 30px auto 0;
    }
  }
}
