@import "../styles.scss";

// Thumb - Websites
.thumb-websites {
  position: relative;

  // Desktop
  .thumb-websites-desktop-device {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .thumb-websites-desktop-screen {
    overflow: hidden;
    position: absolute;
    top: 17%;
    left: 0;
    right: 0;
    bottom: 12%;

    img {
      transition: 1.2s ease top;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &:hover .thumb-websites-desktop-screen img {
    top: -80%;
  }

  // Mobile
  .thumb-websites-mobile-device {
    position: absolute;
    top: 0;
    right: 0;
  }
  .thumb-websites-mobile-screen {
    overflow: hidden;
    position: absolute;
    top: 3.9%;
    right: 0;
    width: 18.7%;
    bottom: 45%;

    img {
      transition: 1.2s ease top;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &:hover .thumb-websites-mobile-screen img {
    top: -60%;
  }
}

// Thumb - Photography
.thumb-photos {
  position: relative;

  img {
    transition: 0.75s ease all;

    &:not(.thumb-spacer) {
      position: absolute;
      top: 50%;
      left: 50%;
      box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
      transform-origin: center center;
    }

    &:nth-child(2) {
      transform: rotate(-3deg) translateX(-50%) translateX(-50px)
        translateY(-50%) translateY(-60px);
    }
    &:nth-child(3) {
      transform: rotate(-3deg) translateX(-50%) translateX(120px)
        translateY(-50%) translateY(50px);
    }
    &:nth-child(4) {
      transform: rotate(3deg) translateX(-50%) translateX(90px) translateY(-50%)
        translateY(-50px);
    }
    &:nth-child(5) {
      transform: rotate(1deg) translateX(-50%) translateX(1px) translateY(-50%)
        translateY(45px);
    }
    &:nth-child(6) {
      transform: rotate(-4deg) translateX(-50%) translateX(-95px)
        translateY(-50%) translateY(-5px);
    }
    &:nth-child(7) {
      transform: rotate(3deg) translateX(-50%) translateX(-135px)
        translateY(-50%) translateY(-38px);
    }
  }

  &:hover img {
    &:nth-child(2) {
      transform: rotate(-1deg) translateX(-50%) translateX(-46px)
        translateY(-50%) translateY(-62px);
    }
    &:nth-child(3) {
      transform: rotate(1deg) translateX(-50%) translateX(128px)
        translateY(-50%) translateY(54px);
    }
    &:nth-child(4) {
      transform: rotate(5deg) translateX(-50%) translateX(106px)
        translateY(-50%) translateY(-56px);
    }
    &:nth-child(5) {
      transform: rotate(-2deg) translateX(-50%) translateX(-2px)
        translateY(-50%) translateY(36px);
    }
    &:nth-child(6) {
      transform: rotate(-7deg) translateX(-50%) translateX(-102px)
        translateY(-50%) translateY(-8px);
    }
    &:nth-child(7) {
      transform: rotate(-3deg) translateX(-50%) translateX(-140px)
        translateY(-50%) translateY(-55px);
    }
  }
}

// Thumb - Loaders
.thumb-loaders {
  position: relative;

  img {
    transition: 0.75s ease all;

    &:not(.thumb-spacer) {
      position: absolute;
      top: 50%;
      left: 50%;
      box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
      transform-origin: center center;
    }

    &:nth-child(2) {
      transform: translateX(-50%) translateX(-110px) translateY(-50%)
        translateY(70px);
    }
    &:nth-child(3) {
      transform: translateX(-50%) translateX(106px) translateY(-50%)
        translateY(-40px);
    }
    &:nth-child(4) {
      transform: translateX(-50%) translateY(-50%);
    }
    &:nth-child(5) {
      transform: translateX(-50%) translateX(-110px) translateY(-50%)
        translateY(-55px);
    }
    &:nth-child(6) {
      transform: translateX(-50%) translateX(115px) translateY(-50%)
        translateY(55px);
    }
  }

  &:hover img {
    &:nth-child(2) {
      transform: translateX(-50%) translateX(-116px) translateY(-50%)
        translateY(74px);
    }
    &:nth-child(3) {
      transform: translateX(-50%) translateX(110px) translateY(-50%)
        translateY(-46px);
    }
    &:nth-child(4) {
      transform: translateX(-50%) translateY(-50%);
    }
    &:nth-child(5) {
      transform: translateX(-50%) translateX(-116px) translateY(-50%)
        translateY(-72px);
    }
    &:nth-child(6) {
      transform: translateX(-50%) translateX(122px) translateY(-50%)
        translateY(62px);
    }
  }
}

// Thumb - Texada Web App
.thumb-web-app {
  position: relative;

  img {
    transition: 0.75s ease all;

    &:not(.thumb-spacer) {
      position: absolute;
      top: 50%;
      left: 50%;
      box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
      transform-origin: center center;
    }

    &:nth-child(2) {
      transform: translateX(-50%) translateX(-125px) translateY(-50%)
        translateY(-40px);
    }
    &:nth-child(3) {
      transform: translateX(-50%) translateX(120px) translateY(-50%)
        translateY(65px);
    }
    &:nth-child(4) {
      transform: translateX(-50%) translateX(-10px) translateY(-50%)
        translateY(-20px);
    }
    &:nth-child(5) {
      transform: translateX(-50%) translateX(-40px) translateY(-50%)
        translateY(35px);
    }
    &:nth-child(6) {
      transform: translateX(-50%) translateX(50px) translateY(-50%)
        translateY(-5px);
    }
  }

  &:hover img {
    &:nth-child(2) {
      transform: translateX(-50%) translateX(-128px) translateY(-50%)
        translateY(-44px);
      opacity: 0.2;
    }
    &:nth-child(3) {
      transform: translateX(-50%) translateX(126px) translateY(-50%)
        translateY(69px);
      opacity: 0.3;
    }
    &:nth-child(4) {
      transform: translateX(-50%) translateX(-17px) translateY(-50%)
        translateY(-27px);
      opacity: 0.5;
    }
    &:nth-child(5) {
      transform: translateX(-50%) translateX(-48px) translateY(-50%)
        translateY(39px);
    }
    &:nth-child(6) {
      transform: translateX(-50%) translateX(65px) translateY(-50%)
        translateY(-10px);
    }
  }
}

// Thumb - Component Library
.thumb-components {
  position: relative;

  img {
    transition: 0.75s ease all;

    &:not(.thumb-spacer) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform-origin: center center;
    }

    &:nth-child(2) {
      transform: translateX(-50%) translateX(-105px) translateY(-50%)
        translateY(-44px);
    }
    &:nth-child(3) {
      transform: translateX(-50%) translateX(-100px) translateY(-50%)
        translateY(48px);
    }
    &:nth-child(4) {
      transform: translateX(-50%) translateX(80px) translateY(-50%)
        translateY(40px);
    }
    &:nth-child(5) {
      transform: translateX(-50%) translateX(38px) translateY(-50%)
        translateY(-20px);
    }
  }

  &:hover img {
    &:nth-child(2) {
      transform: translateX(-50%) translateX(-100px) translateY(-50%)
        translateY(-40px);
      opacity: 0.3;
    }
    &:nth-child(3) {
      transform: translateX(-50%) translateX(-94px) translateY(-50%)
        translateY(42px);
      opacity: 0.3;
    }
    &:nth-child(4) {
      transform: translateX(-50%) translateX(74px) translateY(-50%)
        translateY(34px);
      opacity: 0.3;
    }
    &:nth-child(5) {
      transform: translateX(-50%) translateX(28px) translateY(-50%)
        translateY(-10px);
    }
  }
}

// Thumb - Rebrand
.thumb-rebrand {
  position: relative;

  img {
    transition: 0.75s ease all;

    &:not(.thumb-spacer) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform-origin: center center;
    }

    // Logo
    &:nth-child(2) {
      transform: scale(0.75) translateX(-50%) translateX(-58px) translateY(-50%)
        translateY(-8px);
    }
    // Logo - shapes
    &:nth-child(3) {
      transform: scale(0.75) translateX(-50%) translateX(-58px) translateY(-50%)
        translateY(-8px);
      opacity: 0;
    }
    // Card - back
    &:nth-child(4) {
      transform: scale(0.8) rotate(5deg) translateX(-50%) translateX(-128px)
        translateY(-50%) translateY(90px);
      box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
    }
    // Card - front
    &:nth-child(5) {
      transform: scale(0.8) rotate(-5deg) translateX(-50%) translateX(-150px)
        translateY(-50%) translateY(28px);
      box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
    }
    // Flyer - back
    &:nth-child(6) {
      transform: scale(0.7) rotate(-5deg) translateX(-50%) translateX(118px)
        translateY(-50%) translateY(-70px);
      box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
    }
    // Flyer - front
    &:nth-child(7) {
      transform: scale(0.7) rotate(5deg) translateX(-50%) translateX(120px)
        translateY(-50%) translateY(-100px);
      box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
    }
  }

  &:hover img {
    // Logo - shapes
    &:nth-child(3) {
      transform: scale(0.75) translateX(-50%) translateX(-58px) translateY(-50%)
        translateY(-8px);
      opacity: 1;
    }
    // Card - back
    &:nth-child(4) {
      transform: scale(0.8) rotate(7deg) translateX(-50%) translateX(-138px)
        translateY(-50%) translateY(110px);
      box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
    }
    // Card - front
    &:nth-child(5) {
      transform: scale(0.8) rotate(-8deg) translateX(-50%) translateX(-170px)
        translateY(-50%) translateY(32px);
      box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
    }
    // Flyer - back
    &:nth-child(6) {
      transform: scale(0.7) rotate(-5deg) translateX(-50%) translateX(170px)
        translateY(-50%) translateY(-110px);
      box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
    }
    // Flyer - front
    &:nth-child(7) {
      transform: scale(0.7) rotate(9deg) translateX(-50%) translateX(130px)
        translateY(-50%) translateY(-130px);
      box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
    }
  }
}

// Thumb - Chords
.thumb-chords {
  transition: 0.75s ease opacity;
  position: relative;

  &:hover {
    opacity: 0.6;
  }
}
