@import "../../vars.scss";

.thumb {
  &:not(first-child) {
    padding-top: 60px;
  }
  &:not(last-child) {
    padding-bottom: 60px;
  }

  & + .thumb {
    // border-top: 1px solid $K200;
  }

  h3.thumb-title {
    margin-bottom: 8px;
  }

  .thumb-image {
    transition: 0.6s ease opacity;

    img {
      max-width: 600px;
      width: auto;
      max-height: 400px;
      height: auto;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}
