@import "../../vars.scss";

.thumb {
  .thumb-wrap {
    display: flex;
    justify-content: center;
    align-items: center;

    &:not(first-child) {
      padding-top: 40px;
    }
    &:not(last-child) {
      padding-bottom: 40px;
    }

    // Desktop
    @media #{$query-min-lg} {
      flex-direction: row;
    }
    // Mobile
    @media #{$query-max-lg} {
      flex-direction: column;
      text-align: center;
    }
  }

  // Text
  &-text {
    width: 500px;
    max-width: 100%;

    // Desktop
    @media #{$query-min-lg} {
      padding-left: 60px;
    }
  }

  // Image
  &-image {
    @media #{$query-min-lg} {
      // order: 2;
    }
    @media #{$query-max-lg} {
      margin-bottom: 30px;
    }
  }
  &-image-plain {
    transition: 0.3s ease opacity;

    img {
      max-width: 100%;
      margin: 0 auto;
      width: auto;
      height: auto;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  // Title
  &-title {
    font-size: 18px;
    margin-bottom: 8px;
  }
}
