@import "../../vars.scss";

.panel-browse {
  padding: 0;

  @media #{$query-max-md} {
    .grid {
      padding-left: 12px;
      padding-right: 12px;
    }
  }
}

.browse {
  display: flex;
  flex-direction: columns;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;

  &-top {
    // margin-top: 20px;
  }
  &-bottom {
    margin-bottom: 40px;
  }

  // Heading Group
  &-heading-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
  }

  //  "Work" Subheading
  &-heading-work {
    margin-bottom: 4px;
    font-size: 13px;
    font-weight: 400;
    color: $K500;
  }

  //  Project Title
  &-heading-title {
    display: block;
    margin: 0;

    font-size: 19px;
    font-weight: 700;
    line-height: 1;

    @media #{$query-max-md} {
      font-size: 16px;
    }
  }

  // "Browse Projects"
  &-heading-more {
    display: block;
    margin: 0;
    padding: 0 10px;

    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: $K500;

    @media #{$query-max-md} {
      font-size: 14px;
    }
  }

  &-btn {
    transition: 0.4s ease background-color;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;

    border-radius: 50%;
    background: transparent;

    font-size: 14px;
    font-weight: 500;
    color: $K600;

    svg path {
      transition: 0.4s ease fill;
      fill: $K400;
    }

    &:hover {
      background: $K150;

      svg path {
        fill: $blue;
      }
    }

    @media #{$query-max-md} {
      font-size: 12px;
    }
  }
}
