@import "./vars.scss";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background: $white;
}

// Typography
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 20px;
}

h1 {
  font-size: 28px;
  font-weight: 700;
  color: $K950;
}

h2 {
  font-size: 28px;
  font-weight: 600;
  color: $K950;
}

h3 {
  font-size: 22px;
  font-weight: 600;
  color: $K950;
}

p {
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.8;
  color: $K900;

  @media #{$query-max-lg} {
    font-size: 17px;
  }
}

a {
  transition: 0.3s ease all;
  color: $blue;
  font-weight: 500;
  text-decoration: none;

  &:hover {
    color: $blueHover;
  }

  // Image Link Hover
  &.img-link-hover:hover {
    opacity: 0.6;
  }

  // Button
  &.button {
    display: inline-block;
    height: 38px;
    padding: 0 20px;

    font-size: 14px;
    font-weight: 600;

    line-height: 38px;

    border-radius: 19px;

    background: $blue;
    box-shadow: 2px 3px 6px rgba($blue, 0.3);

    color: white;

    &:hover {
      background-color: $blueHover;
      box-shadow: 0px 1px 3px rgba($blue, 0.5);
    }
  }
}

// Lists
ul,
ol {
  margin: 0 0 20px;
  padding: 0 0 0 30px;

  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  color: $K700;
}
ul > li {
  list-style-type: disc;
}
ol > li {
  list-style-type: decimal;
}
ul > li > ul,
ul > li > ol,
ol > li > ol,
ol > li > ul {
  margin-bottom: 0;
  padding: 5px 0 5px 30px;
}

@mixin no-list {
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
  }
}

// Images
img {
  max-width: 100%;

  &.block {
    display: block;
  }

  &.spaced {
    display: block;
    margin: 70px 0;
  }

  &.align-right {
    margin-left: auto;
  }
  &.align-center {
    margin-left: auto;
    margin-right: auto;
  }

  &.shadowed {
    box-shadow: $boxShadow600;
  }
}

// Panels
.panel {
  position: relative;
  z-index: 1;
  padding: 60px 0;

  &-grey {
    background: $K100;
  }

  &-bottom-shadow,
  &-top-shadow {
    z-index: 1;
    overflow: hidden;
  }

  &-bottom-shadow:before,
  &-top-shadow:after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    width: 100%;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);
  }

  &-bottom-shadow:before {
    bottom: -60px;
  }
  &-top-shadow:after {
    top: -60px;
  }

  .grid {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;

    @media #{$query-max-md} {
      padding: 0 20px;
    }
    @media #{$query-min-md} {
      padding: 0 40px;
    }
  }
}

// Textboxes
.textbox {
  display: block;

  &.white {
    background: $white;
  }

  &.margin-top {
    margin-top: 40px;
  }
  &.margin-bottom {
    margin-bottom: 40px;
  }
}

// Photography
.react-photo-gallery--gallery {
  img {
    transition: 0.3s ease all;

    &:hover {
      opacity: 0.7;
    }
  }

  .grid-websites & img {
    transform: scale(0.8);
    box-shadow: $boxShadow600;

    &:hover {
      transform: scale(0.85);
    }
  }

  .panel-web-app-extras & img {
    transform: scale(0.8);
    box-shadow: $boxShadow600;

    &:hover {
      transform: scale(0.85);
    }
  }
}
