@import "./vars.scss";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  margin: 0;
  // padding-top: 60px;
  font-family: "Montserrat", sans-serif;
}

// Typography
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 20px;
}

h1 {
  font-size: 30px;
  font-weight: 600;
  color: $K900;
}

h2 {
  font-size: 28px;
  font-weight: 600;
  color: $K900;

  .lighter {
    color: $K600;
    font-weight: 400;
  }
  .darker {
    color: $K900;
    font-weight: 700;
  }
}

h3 {
  font-size: 22px;
  font-weight: 700;
  color: $K900;
}

p {
  margin-bottom: 18px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  color: $K700;
}

a {
  transition: 0.3s ease all;
  color: $blue;
  font-weight: 500;
  text-decoration: none;

  &:hover {
    color: darken($blue, 15%);
  }

  // Image Link Hover
  &.img-link-hover:hover {
    opacity: 0.6;
  }

  // Button
  &.button {
    display: inline-block;
    height: 38px;
    padding: 0 20px;

    font-size: 14px;
    font-weight: 700;

    line-height: 38px;

    border-radius: 19px;

    &:not(.button-outline) {
      background-color: $blue;
      box-shadow: 1px 2px 10px rgba($blue, 0.3);

      color: white;

      &:hover {
        background-color: lighten($blue, 10%);
        box-shadow: 0px 1px 6px rgba($blue, 0.5);
      }
    }

    &-outline {
      border: 1px solid $blue;

      &:hover {
        background: $blue;

        color: white;
      }
    }
  }
}

// Lists
ul,
ol {
  margin: 0 0 20px;
  padding: 0 0 0 30px;
}
ul > li {
  list-style-type: disc;
}
ol > li {
  list-style-type: decimal;
}
ul > li > ul,
ul > li > ol,
ol > li > ol,
ol > li > ul {
  margin-bottom: 0;
  padding: 5px 0 5px 30px;
}

@mixin no-list {
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
  }
}

// Images
img {
  max-width: 100%;

  &.block {
    display: block;
  }

  &.spaced {
    display: block;
    margin: 70px 0;
  }

  &.shadowed {
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.05),
      3px 6px 30px rgba(0, 0, 0, 0.05);
  }
}

// Panels
.panel {
  position: relative;
  z-index: 1;
  padding: 60px 0;
  background: white;

  &-grey {
    background: $K100;
  }

  .grid {
    width: 1200px;
    max-width: 100%;
    margin: auto;

    @media (max-width: 1240px) {
      width: 100%;
      margin: 0;
      padding: 0 40px;
    }
    @media (max-width: 600px) {
      padding: 0 20px;
    }
  }

  &-intro {
    padding-top: 120px;
    padding-bottom: 0;

    .row {
      height: 100%;
      display: flex;
      align-content: center;
    }
  }
}

// Textboxes
.textbox {
  display: block;
  padding: 30px;

  border-radius: 10px;
  background: $K100;
}

// About
.col-resume {
  text-align: center;
}

// Contact
@media (max-width: 992px) {
  h3.contact-email {
    font-size: 16px;
  }
}
.linkedin-link {
  svg {
    width: 30px;
    height: 30px;
  }
}

// Photography
.react-photo-gallery--gallery {
  img {
    transition: 0.3s ease all;

    &:hover {
      opacity: 0.7;
    }
  }

  .grid-websites & img {
    transform: scale(0.8);
    box-shadow: 4px 6px 16px rgba($K700, 0.2);

    &:hover {
      transform: scale(0.85);
    }
  }
}

// Under Construction
.under-construction {
  display: block;
  width: 100%;
  padding: 30px;

  border-radius: 10px;
  background: rgba(215, 84, 83, 0.04);

  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: rgb(215, 84, 83);
}
