$K950: #24292d;
$K900: #494f54;
$K700: #696f74;
$K650: #797f84;
$K600: #83898e;
$K500: #9da3a8;
$K400: #b5bbc0;
$K300: #ced3d6;
$K200: #e2e5e7;
$K150: #edeef0;
$K125: #f1f3f4;
$K100: #f7f8f9;
$K75: #fafafa;
$K50: #fdfdfd;

$blue: #2d9cdb;
