@import "loader1.scss";
@import "loader2.scss";
@import "loader3.scss";
@import "loader4.scss";
@import "loader5.scss";
@import "loader6.scss";

.loader-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  min-height: 400px;
}
