.loader-wrap-5 {
  $background: #282834;
  $pale: lighten($background, 25%);
  $highlight: #ff2a7f;

  background: $background;

  .loader-5 {
    .loading {
      position: relative;
      text-align: center;
      display: block;
      margin: 0 auto;
      width: 80px;
      height: 30px;

      span {
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        width: 10px;
        height: 10px;
        margin: 15px 0 0;
        background: $highlight;
        border-radius: 50%;
        animation: loader5 3s infinite;
        animation-timing-function: ease-in-out;
        transform: rotate(90deg);
      }
    }

    @for $i from 1 through 5 {
      .loading span:nth-of-type(#{$i}) {
        left: percentage($i * 0.2 - 0.2);
        animation-delay: (-2s - ($i * 0.2));
      }
    }

    @keyframes loader5 {
      0% {
        top: 0%;
        transform: scale(0.6);
      }
      10% {
        transform: scale(1);
      }
      20% {
        top: -100%;
        background: $highlight;
        transform: scale(0.6);
      }
      30% {
        transform: scale(0.2);
      }
      40% {
        top: 0%;
        transform: scale(0.6);
      }
      100% {
        top: 0%;
        background: $pale;
        transform: scale(0.6);
      }
    }
  }
}
