.loader-wrap-6 {
  $background: #dbd5d5;

  $pale: #a17a74;
  $main: #a17a74;

  background: $background;

  .loader-6 {
    .loading {
      position: relative;
      text-align: center;
      display: block;
      margin: 0 auto;
      width: 120px;
      height: 30px;

      span {
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        width: 6px;
        height: 6px;
        margin: 0 0 0 8px;
        background: $pale;
        border-radius: 50%;
        animation: loader6 2s infinite;
        animation-timing-function: ease-in-out;
        transform: rotate(-90deg);
      }
    }

    @for $i from 1 through 5 {
      .loading span:nth-of-type(#{$i}) {
        left: percentage($i * 0.2 - 0.2);
        animation-delay: (-2s - ($i * 0.2));
      }
    }

    @keyframes loader6 {
      0% {
        top: 0%;
        background: $main;
        transform: scale(0.6);
      }
      25% {
        background: $main;
        transform: scale(1);
      }
      50% {
        top: 100%;
        transform: scale(0.6);
      }
      75% {
        background: $pale;
        transform: scale(0.4);
      }
      100% {
        top: 0%;
        background: $main;
        transform: scale(0.6);
      }
    }
  }
}
