@import "../../vars.scss";

.loader-wrap-1 {
  $background: #04005b;
  $line-background: #440bd0;

  $dotcolor: #f81f78;
  $highlight: #e42cf4;

  background: $background;

  .loader-1 {
    .dots {
      position: relative;
      text-align: center;
      display: block;
      margin: -30px auto 0;
      width: 120px;
      height: 60px;

      & span {
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        width: 8px;
        height: 8px;
        margin: -4px 0 0 5%;
        background: $dotcolor;
        border-radius: 50%;
        animation: loader1dots 2s infinite;
        animation-timing-function: ease-in-out;
        transform: rotate(-90deg);
      }
    }

    @for $i from 1 through 10 {
      .dots span:nth-of-type(#{$i}) {
        left: percentage($i * 0.2 - 0.2);
        animation-delay: (-1s - ($i * 0.2));
      }
    }

    @keyframes loader1dots {
      0% {
        top: 0%;
        transform: scale(0.8);
        z-index: 1;
      }
      25% {
        opacity: 1;
        transform: scale(1);
        z-index: 3;
      }
      50% {
        top: 100%;
        transform: scale(0.8);
        z-index: 1;
      }
      75% {
        opacity: 0.2;
        transform: scale(0.2);
        z-index: 1;
      }
      100% {
        top: 0%;
        transform: scale(0.8);
        z-index: 1;
      }
    }

    .line {
      position: relative;
      text-align: center;
      display: block;
      margin: -30px auto 0;
      width: 150px;
      height: 1px;
      background: $line-background;
      overflow: hidden;
      z-index: 2;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        display: block;
        width: 100%;
        height: 100%;
        background: $highlight;
        animation: loader1line 2s ease-in-out infinite alternate;
      }
    }

    @keyframes loader1line {
      0% {
        left: -105%;
      }
      49% {
        left: 105%;
      }
      50% {
        left: 105%;
      }
      100% {
        left: -105%;
      }
    }
  }
}
