@import "../../vars.scss";

.loader-wrap-3 {
  $background: #48c1d1;
  $dots: #fff;

  background: $background;

  .loader-3 {
    .loading {
      position: relative;
      text-align: center;
      display: block;
      margin: 0 auto;
      width: 60px;
      height: 0;

      span {
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        width: 10px;
        height: 10px;
        margin: -5px 0 0;
        border-radius: 50%;
        background: $dots;
        animation: loader3 1.2s infinite alternate;
        animation-timing-function: ease-in-out;
      }
    }

    .loading span:nth-of-type(1) {
      left: 0%;
    }
    .loading span:nth-of-type(2) {
      left: 33.333%;
      animation-delay: 0.4s;
    }
    .loading span:nth-of-type(3) {
      left: 66.666%;
      animation-delay: 0.8s;
    }

    @keyframes loader3 {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(0.2);
      }
    }
  }
}
