@import "../../vars.scss";

// Top (spacer for nav)
#top {
  width: 100%;
  height: 60px;
}

// Nav
.nav {
  $nav-height: 60px;
  $opened-background: rgba($K100, 0.97);

  transition: 0.9s ease box-shadow;
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
  height: $nav-height;
  padding: 0 20px;

  background: $opened-background;

  // Desktop
  @media #{$query-min-md} {
    backdrop-filter: blur(4px);

    &--not-top {
      box-shadow: 0 0 12px rgba($K700, 0.12);
    }
  }

  // Mobile
  @media #{$query-max-md} {
    &--not-top:not(.nav--open) {
      box-shadow: 0 0 12px rgba($K700, 0.12);
    }

    &--closed {
      backdrop-filter: blur(4px);
    }
  }

  .nav-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 1200px;
    margin: auto;
  }

  // "James Carmichael"
  .nav-title {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;

    font-size: 16px;
    font-weight: 700;
    color: $K900;

    &:hover {
      color: $blue;
    }
  }

  // Menu
  .nav-menu {
    a.item {
      font-size: 14px;
      color: $K600;

      &:hover {
        color: $blue;
      }
    }

    // Desktop
    @media #{$query-min-md} {
      margin-left: auto;

      a.item:not(:last-child) {
        margin-right: 30px;
      }
    }

    // Mobile
    @media #{$query-max-md} {
      position: fixed;
      top: $nav-height;
      left: 0;
      width: 100vw;
      height: 100vh;
      padding: 20px 30px;

      background: $opened-background;

      a.item {
        position: relative;
        z-index: 2;
        float: right;
        clear: both;
        padding: 16px 0;

        font-size: 18px;
      }
    }
  }
  @media #{$query-max-md} {
    &--closed .nav-menu {
      display: none;
    }
  }

  // Hamburger
  .nav-hamburger {
    cursor: pointer;
    position: absolute;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    width: 24px;
    height: $nav-height;

    @media #{$query-min-md} {
      display: none;
    }

    div {
      position: relative;
      width: 24px;
      height: 16px;

      span {
        transition: 0.3s ease all;
        opacity: 1;
        transform: rotate(0deg);

        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        display: block;

        border-radius: 2px;
        background: $K600;

        &:nth-child(1) {
          top: 0;
        }
        &:nth-child(2),
        &:nth-child(3) {
          top: 50%;
        }
        &:nth-child(4) {
          top: 100%;
        }
      }
    }
  }
  &--open .nav-hamburger div span {
    &:nth-child(1) {
      top: 50%;
      width: 0%;
      left: 50%;
    }
    &:nth-child(2) {
      transform: rotate(45deg);
    }
    &:nth-child(3) {
      transform: rotate(-45deg);
    }
    &:nth-child(4) {
      top: 50%;
      width: 0%;
      left: 50%;
    }
  }
}
