@import "../../vars.scss";

#top {
  width: 100%;
  height: 80px;
}

@media (min-width: 768px) {
  #top {
    height: 60px;
  }
}

// Nav
.nav {
  transition: 0.9s ease box-shadow;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;

  background: $K100;

  @media (max-width: 1240px) {
    padding: 0 20px;
  }

  @media (max-width: 767px) {
    position: absolute;
    height: 80px;
  }

  @media (min-width: 768px) {
    position: fixed;
    height: 60px;
    backdrop-filter: blur(4px);

    &--not-top {
      background: rgba($K100, 0.9);
      box-shadow: 0 0 12px rgba($K700, 0.12);
    }
  }

  .nav-content {
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;

    @media (max-width: 767px) {
      width: 100%;
      flex-direction: column;
      justify-content: space-around;
      padding: 0 20px;
    }
    @media (min-width: 768px) {
      width: 100%;
      justify-content: space-between;
    }
    @media (min-width: 1240px) {
      width: 1200px;
      max-width: 100%;
    }
  }

  .nav-title {
    font-size: 16px;
    color: $K900;
    font-weight: 700;

    @media (max-width: 767px) {
      margin-top: 12px;
    }

    &:hover {
      color: $blue;
    }
  }

  .nav-menu {
    @media (max-width: 767px) {
      margin-bottom: 12px;
    }

    a.item {
      font-size: 14px;
      color: $K600;

      &:hover {
        color: $blue;
      }

      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
}
